<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
					package="miceta.game.android"
					android:screenOrientation="landscape"
					android:versionCode="1"
					android:versionName="1.0">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="21" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>



	<application
			android:allowBackup="true"
			android:icon="@drawable/ic_launcher"
			android:label="@string/app_name" >
		<activity android:name="miCetaActivity"
							android:label="@string/app_name"
				  			android:screenOrientation="portrait"
							android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
							android:configChanges="keyboard|keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
